html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  word-break: break-all;
  font-size: 18px;
  color: #441A00;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#main {
  width: 100%;
  height: 100%;
  background: #FBF7ED;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
}

button:focus {
  outline: 0;
}